<div class="user-list-contaier">
  <h1>List of users</h1>
  <table [dataSource]="dataSource" class="mat-elevation-z8" mat-table>
    <!-- Id Column -->
    <ng-container matColumnDef="ID">
      <th *matHeaderCellDef mat-header-cell> ID</th>
      <td *matCellDef="let element" mat-cell> {{element.id}} </td>
    </ng-container>

    <!-- Firstname Column -->
    <ng-container matColumnDef="firstName">
      <th *matHeaderCellDef mat-header-cell> Name</th>
      <td *matCellDef="let element" mat-cell> {{element.firstName}} </td>
    </ng-container>

    <!-- Lastname Column -->
    <ng-container matColumnDef="lastName">
      <th *matHeaderCellDef mat-header-cell> Surname</th>
      <td *matCellDef="let element" mat-cell> {{element.lastName}} </td>
    </ng-container>

    <!-- Username Column -->
    <ng-container matColumnDef="username">
      <th *matHeaderCellDef mat-header-cell> Username</th>
      <td *matCellDef="let element" mat-cell> {{element.username}} </td>
    </ng-container>

    <tr *matHeaderRowDef="displayedColumns" mat-header-row></tr>
    <tr *matRowDef="let row; columns: displayedColumns;" mat-row></tr>
  </table>
</div>
