<mat-card>
  <mat-card-header class="highlighted" fxLayoutAlign="center">
    <mat-card-title><strong>{{ course.title }}</strong></mat-card-title>
  </mat-card-header>
  <mat-card-content mat-dialog-content>
    <div class="course-info-container" fxLayout="column" fxLayoutGap="20px">
      <div class="info-block" fxLayout="row" fxLayoutGap="10px">
        <span class="info-label" fxFlex="15">Title</span>
        <span class="info-value" fxFlex="85"><strong>{{ course.title }}</strong></span>
      </div>
      <div class="info-block" fxLayout="row" fxLayoutGap="10px">
        <span class="info-label" fxFlex="15">Tagline</span>
        <span class="info-value" fxFlex="85"><strong>{{ course.tagline }}</strong></span>
      </div>
      <div class="info-block" fxLayout="row" fxLayoutGap="10px">
        <span class="info-label" fxFlex="15">Description</span>
        <span class="info-value" fxFlex="85"><strong>{{ course.description }}</strong></span>
      </div>
      <div class="enroll-dialog-footer" fxLayout="row" fxLayoutGap="20px">
        <div class="highlighted" fxFlex fxLayoutAlign="center">Start Date:
          <span class="date">{{ course.startDate | date : 'dd/MM/y' }}</span>
        </div>
        <div class="highlighted" fxFlex fxLayoutAlign="center">End Date:
          <span class="date">{{ course.endDate | date : 'dd/MM/y'}}</span>
        </div>
      </div>
    </div>
  </mat-card-content>
  <mat-card-actions align="center">
    <button (click)="close()" mat-button>Close</button>
  </mat-card-actions>
</mat-card>
