<div class="enroll-dialog-container" fxLayout="column" fxLayoutGap="15px">
  <div class="enroll-dialog-header">
    Enroll the <span class="course-title">"{{ course.title }}"</span> course!
  </div>
  <div class="enroll-dialog-content">
    <p>Are you sure you want to enroll into the course?</p>
    <p>
      The start date is on the <span class="date">{{ course.startDate | date : 'dd, MMM y'}}</span>
    </p>
  </div>
  <div class="enroll-dialog-footer" fxLayout="column" fxLayoutGap="10px">
    <button (click)="enroll()" color="primary" mat-raised-button>Enroll</button>
    <button (click)="cancel()" mat-raised-button>Cancel</button>
  </div>
</div>
